@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&family=Rancho&display=swap");

:root {
  /* Colors */
  --primary-color: #003c8a;
  --secondary-color: #ff7e3e;
  --background-color: #e8f4ff;
  --gray-color: #74747a;

  /* Light scheme */
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--background-color);

  /* Fonts */
  font-family: "Poppins", serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

/* Typography */

h1 {
  font-size: 3.618rem;
  font-weight: 600;
}

h2 {
  font-size: 2.618rem;
  font-weight: 600;
}

h3 {
  font-size: 1.618rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

/* Dark scheme */
@media (prefers-color-scheme: dark) {
  :root {
    color: #e8f4ff;
    background-color: #003c8a;
  }
}
